
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  ✅</h1>

        <p>We're thrilled to announce that your product <b>Hello  ✅</b>, has been approved and is ready to be listed on our marketplace!</p>
        <a href="#">here it is !</a>
        <br>
        <p>We appreciate the time and effort you put into creating a high-quality product that meets our guidelines. We're confident that "[Product Name]" will be a valuable addition to our selection and a hit with our customers.</p>
        <br>
        <p>We're here to help you every step of the way. If you have any questions or need assistance with anything, please don't hesitate to contact our seller support team at [Seller Support Email Address] or by phone at [Seller Support Phone Number] (if applicable).</p>
        <br>
        <p>We're excited to see  <b> Hello  ✅</b> succeed on our marketplace!</p>
        <br>
        <p>Best regards,</p>
        <br>
        <p>The <b>SwapNshare</b> Team</p>
</div>
{% endblock %}
