{% extends "baseFrontOffice.html.twig" %}

{% block title %}Edit  Product Exchange  Form{% endblock %}

{% block body %}
    <br><br>
    <h1>Edit  Product Exchange Form</h1>

    {{ include('echange_produit/_form.html.twig', {'button_label': 'Update'}) }}
    
{% endblock %}
