{% extends "baseFrontOffice.html.twig" %}

{% block title %} New  Product Exchange {% endblock %}


{% block body %}
    <h1>Create A New Product Exchange</h1>

    {{ include('echange_produit/_form.html.twig') }}

{% endblock %}
