{% extends "baseFrontOffice.html.twig" %}

{% block title %} New Service Exchange {% endblock %}


{% block body %}
    <h1>Create New Service Exhange</h1>

    {{ include('echange_service/_form.html.twig') }}

    
{% endblock %}
